body {
          overflow-y: hidden !important
}
.logo-container {
          width: 35px;
          height: 35px;
          /* background-color: #f60000; */
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 1;
          transition: 300ms opacity;
}
aside.minimized .logo-container {
          opacity: 0;
}

.logo {
          width: 100%;
          height: 100%;
          border-radius: 5px;
}
.app-brandName {
          color: #0b0b0a;
          opacity: 1;
          transition: 300ms opacity;
          font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
aside.minimized .app-brandName {
          opacity: 0;
}
.brandSubName {
          color: #111010;
          opacity: 1;
          transition: 300ms opacity;
          font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
aside.minimized .brandSubName {
          opacity: 0;
}

aside {
          /* background-image: linear-gradient(#f7ef584e,#3f32b446); */
          background-color:#4156d1d7;
          /* min-width: 300px; */
          /* max-width: 300px; */
          width: 250px;
          height: 100vh;
          background-position: top;
          background-size: 100% 100%;
          display: flex;
          transition: 300ms width;
          /* background-repeat: no-repeat; */
}
aside.minimized {
          width: 75px;
}
nav {
          overflow-x: hidden;
          /* overflow-y: scroll; */
}
nav {
          scrollbar-width: auto;
          scrollbar-color: #1f1fd1;
}
nav::-webkit-scrollbar {
          width: 7px;
          height: 7px;
          border-radius: 10px;
}

nav::-webkit-scrollbar-track {
          background: #1c1641;
          padding: 1px;
}

nav::-webkit-scrollbar-thumb {
          background-color: #f3ededee;
          border-radius: 10px;
}
.nav-item a .menu-title {
          font-weight: 400;
          opacity: 1;
          transition: 300ms opacity;
          white-space: nowrap;
          color: #c6bfbf;
}

aside.minimized .nav-item a .menu-title{
          opacity: 0;
}
.nav-item a {
          color: #3d3d3d;
          transition: ease-in-out 300ms;
}
.nav-item a .down_caret {
          transition: transform ease-in-out 300ms;
}
.nav-item a[aria-expanded="true"] .down_caret {
          transform: rotate(90deg);
}
.nav-item a:hover {
          background-color: #0c0a22f6;
          color: #b3aeae !important;
}
.nav-item.active a {
          background-color:  #222288;
          color: #f2f2f2 !important;
}
.menu-icon {
          width: 35px;
}

hr {
          background-color: red;
}
.button-close{
   display: none;
}
.d-sidebar{
   display: none;
}
@media screen and (max-width: 1200px) {
          #desktop-sidebar {
                    display: none;
          }
}