
.psr-collage  {
          min-height: 100vh;
}

.logo_container {
          width: 60px;
          height: 60px;
}
.logo_container img {
          width: 100%;
          height: 100%;
}
@media screen and (max-width: 1000px) {
          .psr-collage  {
                    display: none !important;
          }
          .form_left {
                    position: absolute !important;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 75% !important;
          }
}
@media screen and (max-width: 500px) {
          .form_left {
                    width: 95% !important;
          }
          .form_left_container {
                    width: 90% !important;
          }
}